DATABASE_URL="file:./dev.db"
JWT_SECRET="ventzivo_super_secret_marketplace_key_2026_india"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="VentZivo"
NEXT_PUBLIC_APP_TAGLINE="Plan. Connect. Celebrate. — India's Event Marketplace"
